$screen-width: 1008px;

.header {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 32px;
  width: 100%;
  background-color: #02918c;
  #logo {
    margin-left: 150px;
  }
}

body {
  margin: 0px;
  padding: 0px;
}

.main-block {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../../images/main-pic.jpg);
}

.about-me {
  width: $screen-width;
  align-items: center;
  text-align: center;
  font-family: Arial;
  padding-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 41px;
  .about-me-header {
    color: #02918c;
    font-size: 46px;
    font-weight: bold;
  }
  .text-under-header {
    color: #7e8287;
    font-size: 16px;
    #bold {
      font-weight: bold;
    }
  }
}
.items {
  font-family: Arial;
  display: block;
  width: 60rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  .blocks {
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
    :last-child {
      margin-right: 0;
    }
    .icon {
      object-position: center center;
      height: 35px;
      margin-left: 4rem;
    }
    .header-items {
      padding: 1rem;
      color: #7e8287;
      font-size: 18px;
      font-weight: bold;
    }
    .text-items {
      color: #7e8287;
      font-size: 14px;
      font-weight: normal;
      line-height: 21px;
    }
  }
}

.footer {
  font-family: Arial;
  padding-top: 35px;
  text-align: center;
  height: 44px;
  background-color: #000;
  color: #7e8287;
  font-size: 12px;
  font-weight: normal;
}
